
<div class="col-12 bg-light">
    <div clasS="row ml-4">
        <i class='material-icons md-dark md-48 mt-2'>shopping_cart</i>
        <p class="titulo-carrito ml-3 mt-2">Mi carrito</p>
    </div>
</div>

<div class="col-12 mt-3 ml-4">
    <p class="titulo-cantidad">Tienes n items</p>
</div>