
<div class="col-12 bg-light">
    <div clasS="row ml-4">
        <i class='material-icons md-dark md-48 mt-2'>shopping_cart</i>
        <p class="titulo-carrito ml-3 mt-2">Mi carrito</p>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-12 mt-3 ">
            <p class="titulo-cantidad">Tienes n items</p>
        </div>
        <div class="col-12 mt-5">
            <table class="table ">
            <thead>
            <tr class="cabecera">
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
    
    <div class="column bg-light">
    <p class="cupon-desc">Cupon de descuento</p>
    </div>
</div>