<div class="col-12 bg-light pt-3 pb-3">
<h3 >INFORMACION DE USUARIO</h3>
</div>
<div class="col-12">
    <div class="row">
        <div class="col">
        <strong><p>Informacion de la cuenta</p></strong>
        <p>Nombre</p>
        <p><%= current_user.email %></p>
        <p>Cambiar clave</p>
        </div>
    </div>
</div>