<div class="col-12 bg-light pt-3 pb-3">
<h3 >INFORMACION DE USUARIO</h3>
</div>
<div class="col-12">
    <div class="row">
        <div class="col">
        <strong><p>Informacion de la cuenta</p></strong>

        <% @usuario.each do |usuariop| %>
        <p>Nombres</p>
        <p><%= usuariop.nombres %></p>
        <p>Apellidos</p>
        <p><%= usuariop.apellidos %></p>
        <p>Celular</p>
        <p><%= usuariop.celular %></p>
        <p>Cambiar clave</p>
        <% end %>

        </div>
    </div>
</div>