<h3>AÑADIR NUEVO PRODUCTO FALLO</h3>
<div class="row">
<div class="col-9">
<a>No hay stock para la cantidad ingresada</a>
</div>
<div class="col-2 mr-3">
<%= link_to "<button class='form-control btn btn-outline-secondary'>VOLVER</button>".html_safe, root_path %>
</div>
</div>