<div class="container mt-3">
    <div class="col-12 banner-tema">
        <h2 class="banner-titulo">Productos</h2>
    </div>
    <div class="row">
    <% @productos.each do |producto| %>
        <div class="card ml-3 mr-3" style="width: 17rem;">
            <div class="card-body">
                <%= link_to producto_path(producto.id) do %>
                <img class="card-img-top" <%= image_tag(producto.urlimagen) %> 
                <% end %>
                <h5 class="titulo-producto mt-4" style="text-align: center;"><%= producto.nombre %></h5>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="precio-titulo" style="color: #737373;">Precio: </p>
                    <p class="precio-numero">S/.<%= producto.precio %></p>  
                </div>    
                <div class="row" >
                    <div class="col-sm-3 p-0">
                        <input class="form-control" style="height:100%;background-color: #f2f2f2;font-size: .875rem;text-align: center;border:0;font-weight: 600;" type="text" value="1">
                    </div>
                    <div class="column p-0">
                        <div class="col-sm-3">
                        <button type="button" class="btn btn-dark p-0 pl-2 pr-2" style="border:none;"><i class="material-icons md-light md-12">add</i></button>
                        </div>
                        <div class="col-sm-3 h-25">
                        <button type="button" class="btn btn-secondary p-0 pl-2 pr-2" style="border:none;"><i class="material-icons md-light md-12">remove</i></button>
                        </div>
                    </div>
                    <div class="row m-1">
                    </div>
                    <button type="button" class="btn text-light p-1 pl-4 pr-4" style="background-color:  #ec1c24;font-weight: 600;">AGREGAR</button>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>