    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-center" style="background-color: #f4f4f4;">
                <h4 class="titulo-login">Iniciar Sesion</h4>

            </div>
          <div class="modal-body">
        
                    <form>
                    
                        
                        <label class="mt-2">E-mail</label>
                            <input type="text" class="form-control" placeholder="usuario" style="background: #f2f2f2;border:none">
                        
                        
                        <label class="mt-4">Contraseña</label>
                            <input type="password" class="form-control" placeholder="contraseña" style="background: #f2f2f2;border:none">
                        
                    </form>
    
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-outline-danger">Ingresar</button>
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Volver</button>
            
          </div>
        </div>
      
  </div>
</div>