
<div class="col-12 mt-3 mb-3">
    <div class="container bg-light">
        <div class="col-6">
            <div class="col-6">
                <h3>LOGIN</h3>
            </div>
            <form>
                <div class="col-4 mb-3">
                    <input type="text" class="form-control" placeholder="usuario">
                </div>
                <div class="col-4 mb-3">
                    <input type="password" class="form-control" placeholder="contraseña">
                </div>
                <div class="col-12 mb-3">
                    <button class="btn btn-dark">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>

